<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">WittyNews</a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li> <a [routerLink]="['/news']" routerLinkActive="active">News</a> </li>
        <li><a [routerLink]="['/saved']" routerLinkActive="active">Saved News</a></li>
      </ul>
    </div>
  </div>
</nav>
